<!-- <h2 mat-dialog-title>Infos</h2>
<form [formGroup]="infosForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="firstName" placeholder="First Name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="lastName" placeholder="Last Name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Country</mat-label>
      <mat-select formControlName="country" required>
        <mat-option>-- Select Country --</mat-option>
        <mat-option *ngFor="let country of countrySelect.countries" [value]="country.name">{{ country.name }}</mat-option>
      </mat-select>
    </mat-form-field>
     <mat-form-field>
      <mat-label>Upload File</mat-label>
      <input matInput type="file" (change)="onFileSelected($event.target.files)">
    </mat-form-field> -->
  <!-- </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit">Save</button>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
  </mat-dialog-actions>
</form> --> 